:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --dark-grey: hsla(208, 12%, 55%, 1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/*
body{
  background-color: black;
}
*/

/*COMPONENT TOB BAR*/
.component-top-bar {
  max-width: 1297px;
  margin: 78px 0 0 calc(50% - 640px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .component-top-bar {
    width: 1017px;
    margin: 78px 0 0 calc(50% - 508px);
  }
}

@media screen and (max-width: 1100px) {
  .component-top-bar {
    width: 87.2%;
    margin: 78px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .component-top-bar {
    margin-top: 24px;
    height: 24px;
  }
}

/*.component-top-bar__logo*/
@media screen and (max-width: 700px) {
  .component-top-bar__logo {
    height: 16px;
    width: auto;
  }
}

.component-top-bar__cta {
  width: 136px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--pink);
  border: 1px solid var(--light-pink);
  border-radius: 20px;
  box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
}

@media screen and (max-width: 700px) {
  .component-top-bar__cta {
    width: 80px;
    height: 24px;
    font-size: 9.4px;
    line-height: 24px;
  }
}

/*SECTION COVER*/
.section-cover {
  width: 1017px;
  margin: 225px 0 0 calc(50% - 508px);
}

@media screen and (max-width: 1100px) {
  .section-cover {
    width: 78.68%;
    margin: 112px auto 0 auto;
  }
}

.section-cover__title {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: var(--very-dark-cyan);
}

@media screen and (max-width: 700px) {
  .section-cover__title {
    font-size: 24px;
  }
}

.section-cover__description {
  margin: 26px auto 0 auto;
  max-width: 600px;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--very-dark-cyan);
}

@media screen and (max-width: 700px) {
  .section-cover__description {
    font-size: 14px;
  }
}

.section-cover__cta {
  margin: 49px auto 0 auto;
  display: block;
  width: 400px;
  height: 80px;
  background-color: var(--pink);
  color: white;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
}

@media screen and (max-width: 700px) {
  .section-cover__cta {
    max-width: 200px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
}

.section-cover__image {
  width: 100%;
  margin-top: 120px;
}

@media screen and (max-width: 700px) {
  .section-cover__image {
    margin-top: 104px;
  }
}

/*SECTION INDICATORS*/
.section-indicators {
  margin: 120px auto 0px auto;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .section-indicators {
    flex-direction: column;
    gap: 88px;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .component-indicator {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .component-indicator {
    width: 160px;
  }
}

.component-indicator__image {
  height: 40px;
  width: auto;
}

@media screen and (max-width: 700px) {
  .component-indicator__image {
    height: 26px;
  }
}

.component-indicator__value {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--very-dark-cyan);
}

@media screen and (max-width: 700px) {
  .component-indicator__value {
    margin-top: -6px;
    font-size: 61px;
  }
}

.component-indicator__name {
  margin-top: 2px;
  text-align: center;
  color: var(--dark-grey);
  line-height: 1.5;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .component-indicator__name {
    margin-top: 0px;
    font-size: 15px;
  }
}


/*SECTION INFO*/
.section-info{
  margin-top: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* COMPONENT INFO BG PATTERNS */
.component-info__bg-pattern-wrapper-1,
.component-info__bg-pattern-wrapper-2{
  background-color: #F6FBFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-info__bg-pattern-wrapper-1::before, 
.component-info__bg-pattern-wrapper-1::after,
.component-info__bg-pattern-wrapper-2::before,
.component-info__bg-pattern-wrapper-2::after{
  content: '';
  display: block;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-color: white;
}

.component-info__bg-pattern-wrapper-1::before {  
  height: 165px;
  background-image: url(./images/bg-section-top-desktop-1.svg);  
}


.component-info__bg-pattern-wrapper-1::after {  
  margin-top: -23px;
  height: 139px;
  background-image: url(./images/bg-section-bottom-desktop-1.svg);  
}


.component-info__bg-pattern-wrapper-2::before {  
  height: 165px;
  background-image: url(./images/bg-section-top-desktop-2.svg);  
}

.component-info__bg-pattern-wrapper-2::after {  
  margin-top: 0px;
  height: 139px;
  background-image: url(./images/bg-section-bottom-desktop-2.svg);  
}

@media screen and (max-width: 1100px) {
  .component-info__bg-pattern-wrapper-1::before {
    height: 112px;
    background-image: url(./images/bg-section-top-mobile-1.svg);
  }

  .component-info__bg-pattern-wrapper-1::after{
    height: 52px;
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
  }

  .component-info__bg-pattern-wrapper-2::before {  
    height: 165px;
    background-image: url(./images/bg-section-top-mobile-2.svg);  
  }
  
  .component-info__bg-pattern-wrapper-2::after {  
    margin-top: 0px;
    height: 139px;
    background-image: url(./images/bg-section-bottom-mobile-2.svg);  
  }
}

.component-info {  
  width: min(1200px, 83.4%);  
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-info__content{
  width: 44.06%;
}

.component-info.first{
  width: min(81.95%, 1180px);  
}

.component-info.second{
  margin-top: 100px;
  flex-direction: row-reverse;
}

.component-info.third{
  margin-top: 20px;
}

.component-info.first .component-info__image{
  width: 44.06%;
  height: auto;
}

.component-info.second .component-info__image{
  width: 44.25%;
  height: auto;
}

.component-info.third .component-info__image{
  width: 44.5%;
  height: auto;
}

.component-info__title{
  font-family: 'Poppins', sans-serif;
  font-size: clamp(20px, 2.78vw, 40px);
  font-weight: 700;
  line-height: 1.5;  
  color: var(--very-dark-cyan);
}

.component-info__description{
  margin-top: 26px;
  font-family: 'Open Sans', sans-serif;  
  font-weight: 400;
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: 1.5;
  color: var(--very-dark-cyan);
}


@media screen and (max-width: 1100px) {

  .section-info{
    margin-top: 26px;   
  }
  
  .component-info, .component-info.first, .component-info.second {
    flex-direction: column-reverse;
    height: auto;
    width: 85%;
  }

  .component-info.second{
    margin-top: 67px;
  }

  .component-info__bg-pattern-wrapper-2{
    margin-top: 120px;
  }

  .component-info__content{
    width: 100%;
  }

  .component-info.first .component-info__image, 
  .component-info.second .component-info__image, 
  .component-info.third .component-info__image{
    width: 87.8%;
  }  

  .component-info__title{
    text-align: center;
    margin-top: 40px;
  }

  .component-info__description{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 80px;
  }
}